:root {
    --brand-primary: #002c6a;
    --brand-secondary: #f8d99b;
    --brand-primary-rgb: rgba(0,44,106, 1);
    --brand-primary-liter-rgb: rgb(0, 69, 167, 0.20);
    --brand-white-rgb: rgba(255, 255, 255, 0.20);
}

.navbar-brand img {
    height: 40px;
    width: auto;
}

.hero {
    text-shadow: 0 0 15px black;
}

#newsletter iframe {
    width: 50%;
}

#newsletter iframe .kdtdey {
    border: 2px solid rgb(206,212,218) !important;
}

form#contact-form .form-control {
    border: 2px solid rgb(0, 44, 106);
}

.bg-brand-primary {
    background-color: var(--brand-primary) !important;
}

.bg-brand-secondary {
    background-color: var(--brand-secondary) !important;
}

.bg-brand-gradient {
    background-image: linear-gradient(0, var(--brand-primary-liter-rgb), var(--brand-primary-rgb)), url("../assets/hero-background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-primary {
    color: var(--brand-secondary);
    background-color: var(--brand-primary) !important;
    border: var(--bs-btn-border-width) solid var(--brand-primary);
}

.link-secondary {
    color: var(--brand-secondary) !important;
}

.mx-6 {
    margin-right: 3.5rem !important;
    margin-left: 3.5rem !important;
}

.mx-7 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
}

.mx-8 {
    margin-right: 4.5rem !important;
    margin-left: 4.5rem !important;
}

.mx-9 {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
}

.mx-10 {
    margin-right: 6rem !important;
    margin-left: 6rem !important;
}

.text-brand-primary {
    color: var(--brand-primary);
}

.text-brand-secondary {
    color: var(--brand-secondary);
}

.text-left {
    text-align: left !important;
}
  
.text-right {
    text-align: right !important;
}

@media (max-width: 575.98px) {
    .mx-10 {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    #newsletter iframe {
        width: 100%;
    }
}